/* 画像と選択肢を含む親コンテナ */
.image-container {
    position: relative;
    display: inline-block;
    display: flex;
}

.image-container h2 {
    text-align: center;
}

.image-container h3 {
    text-align: center;
}

/* 選択肢のスタイル */
.choice-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    font-family: 3;
    width: 30%;
}


button {
    width: 100px;
    font-size: 20px;
    height: 70px;
}

.container{
width:120px;
height: 100px;
}

.image-half{
float: left;
width: 80%;
height: 100px;
box-sizing: border-box;
}

.image-half img{
width: 100%;
height: 200px;
}

