<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Choose your preference</title>
    <style>
        .choice-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style>
</head>

<body>
    <div class="image-container">
        <img src="static/images/{{ photo }}">
        <!-- <img src="static/images/{{ photo1 }}"> -->
        <form action="/index_5" method="POST">
            <div class="choice-container">
                <label for="meal">
                    <input type="radio" id="meal" name="chosen_preference" value="金鶏山">
                    金鶏山
                </label>
                <label for="photo">
                    <input type="radio" id="photo" name="chosen_preference" value="無量光院跡">
                    無量光院跡
                </label>
                <input type="hidden" id="photo" name="chosen_image" value={{photo}}>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>
