<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Choose your preference</title>
    <style>
        .choice-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style>
</head>

<body>
    <div class="image-container">
        <img src="static/images/{{ photo1 }}" height="300">
        <img src="static/images/{{ photo2 }}" height="300">
    </div>
    
    <form action="/index_4" method="POST">
        <input type="hidden" id="photo" name="chosen_image" value={{photo}}>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
